@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Shadows+Into+Light&display=swap');

/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
    box-sizing: border-box;
}

/* 2. Remove default margin */
* {
    margin: 0;
}

/* 3. Add accessible line-height and improve text rendering */
body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    background-image: url("https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/81ccfdb7-ac1d-423f-a276-af63abae5ba2/d5oun1x-6975d2e1-093f-4f3f-88f4-21ea09a01e93.png/v1/fit/w_431,h_614,q_70,strp/lightning__bw__texture_by_pkmncardmaker264_d5oun1x-375w-2x.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9NjE0IiwicGF0aCI6IlwvZlwvODFjY2ZkYjctYWMxZC00MjNmLWEyNzYtYWY2M2FiYWU1YmEyXC9kNW91bjF4LTY5NzVkMmUxLTA5M2YtNGYzZi04OGY0LTIxZWEwOWEwMWU5My5wbmciLCJ3aWR0aCI6Ijw9NDMxIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmltYWdlLm9wZXJhdGlvbnMiXX0.jHEFjRdLUpvvMcXU77rGv4MY7ngZQHSZtnoszNFbqvs");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-family: "Shadows Into Light", cursive;
    letter-spacing: 2px;
}

/* 4. Improve media defaults */
img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

/* 5. Remove built-in form typography styles */
input, button, textarea, select {
    font: inherit;
}

/* 6. Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}

/* 7. Create a root stacking context */
#root, #__next {
    isolation: isolate;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem; 
    color: #EA4035; 
    height: 15vh; 
}

.header h1 {
    font-size: 2rem;
    font-weight: bolder;
    margin: 0; 
}

.header p {
    font-size: 1.2rem;
    font-weight: bold; 
    margin: 0; 
    text-align: right;
    
}

.main {
    padding: 10px;
    height: 85vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 50px;
    justify-content: center;
    align-content: center;
    margin: 0 20px;
}


.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
    align-items: center; 
    height: 290px;
    margin: 10px;
    background-image: url('https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/81ccfdb7-ac1d-423f-a276-af63abae5ba2/d5ouid9-b25eaf89-82dc-4e6b-a7c6-c012f6b64e32.png/v1/fit/w_429,h_613,q_70,strp/fire__bw__texture_by_pkmncardmaker264_d5ouid9-375w-2x.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9NjEzIiwicGF0aCI6IlwvZlwvODFjY2ZkYjctYWMxZC00MjNmLWEyNzYtYWY2M2FiYWU1YmEyXC9kNW91aWQ5LWIyNWVhZjg5LTgyZGMtNGU2Yi1hN2M2LWMwMTJmNmI2NGUzMi5wbmciLCJ3aWR0aCI6Ijw9NDI5In1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmltYWdlLm9wZXJhdGlvbnMiXX0.kFVVJiQdq8j406lpWyaymU94x6MHjcVdmSimHwk2Upk');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border: 3px solid rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
    color: #fff;
    padding: 20px;
    font-weight: bold;
    font-size: 1.2rem;
    text-align: center;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.card p {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 10px;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.2);
    text-transform: uppercase;
}

.card img {
    width: 150px;
    height: auto;
    border-radius: 4px;
    margin-bottom: 10px;
}

.card:hover {
    transform: scale(1.05);
}

.btn{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 50px;
    border: 2px solid rgba(0, 0, 0, 0.9);
    border-radius: 50%; 
    background-color: #ff5733;
    color: #fff;
    font-size: 1.2rem;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s, transform 0.3s, box-shadow 0.3s;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); 
}

button:hover {
    background-color: #c70039; 
    color: #fff;
    transform: scale(1.1);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.5);
}

button:active {
    background-color: #900c3f; 
    transform: scale(1);
}

button i {
    font-size: 1.5rem; 
}

.start-screen {
    display: flex;
    flex-direction: column;
    gap: 50px;
    align-items: center;
    justify-content: space-around;
    height: 100vh;
    color: #EA4035;
  }

    .start-screen h1 {
        font-size: 4rem;
        font-weight: bolder;
    }
  
  .restart-button {
    margin-top: 20px;
    padding: 50px 150px;
    font-size: 2rem;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    background-image: url('https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/81ccfdb7-ac1d-423f-a276-af63abae5ba2/d5ouid9-b25eaf89-82dc-4e6b-a7c6-c012f6b64e32.png/v1/fit/w_429,h_613,q_70,strp/fire__bw__texture_by_pkmncardmaker264_d5ouid9-375w-2x.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9NjEzIiwicGF0aCI6IlwvZlwvODFjY2ZkYjctYWMxZC00MjNmLWEyNzYtYWY2M2FiYWU1YmEyXC9kNW91aWQ5LWIyNWVhZjg5LTgyZGMtNGU2Yi1hN2M2LWMwMTJmNmI2NGUzMi5wbmciLCJ3aWR0aCI6Ijw9NDI5In1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmltYWdlLm9wZXJhdGlvbnMiXX0.kFVVJiQdq8j406lpWyaymU94x6MHjcVdmSimHwk2Upk');
  }
  
  .start-button:hover {
    color: #fff; 
    transform: scale(1.1);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.5);
  }
  

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7); 
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.modal-content {
    background-image: url("https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/81ccfdb7-ac1d-423f-a276-af63abae5ba2/d5oun1x-6975d2e1-093f-4f3f-88f4-21ea09a01e93.png/v1/fit/w_431,h_614,q_70,strp/lightning__bw__texture_by_pkmncardmaker264_d5oun1x-375w-2x.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9NjE0IiwicGF0aCI6IlwvZlwvODFjY2ZkYjctYWMxZC00MjNmLWEyNzYtYWY2M2FiYWU1YmEyXC9kNW91bjF4LTY5NzVkMmUxLTA5M2YtNGYzZi04OGY0LTIxZWEwOWEwMWU5My5wbmciLCJ3aWR0aCI6Ijw9NDMxIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmltYWdlLm9wZXJhdGlvbnMiXX0.jHEFjRdLUpvvMcXU77rGv4MY7ngZQHSZtnoszNFbqvs");
    color: #EA4035; 
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    max-width: 90%;
    width: 400px;
    border: 3px solid #EA4035;
    font-weight: bold;
}

.restart-button {
    margin-top: 20px;
    padding: 50px 150px;
    font-size: 2rem;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    background-image: url('https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/81ccfdb7-ac1d-423f-a276-af63abae5ba2/d5ouid9-b25eaf89-82dc-4e6b-a7c6-c012f6b64e32.png/v1/fit/w_429,h_613,q_70,strp/fire__bw__texture_by_pkmncardmaker264_d5ouid9-375w-2x.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9NjEzIiwicGF0aCI6IlwvZlwvODFjY2ZkYjctYWMxZC00MjNmLWEyNzYtYWY2M2FiYWU1YmEyXC9kNW91aWQ5LWIyNWVhZjg5LTgyZGMtNGU2Yi1hN2M2LWMwMTJmNmI2NGUzMi5wbmciLCJ3aWR0aCI6Ijw9NDI5In1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmltYWdlLm9wZXJhdGlvbnMiXX0.kFVVJiQdq8j406lpWyaymU94x6MHjcVdmSimHwk2Upk');
  }

.restart-button:hover {
    background-color: #c70039; 
    transform: scale(1.05); 
}

.restart-button:active {
    background-color: #900c3f;
    transform: scale(1);
}

  
.modal-content h2 {
    font-size: 4rem;
    margin: 0;
}

.modal-content p {
    font-size: 1.5rem;
}

@media (max-width: 768px) {
    .card-grid {
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    }

    .card {
        height: 250px;
        width: 150px;
    }

    .header h1 {
        font-size: 1.5rem; 
    }

    .header p {
        font-size: 0.875rem;
    }
}

@media (max-width: 480px) {
    .card-grid {
        grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    }

    .card {
        height: 200px;
        width: 100px;
    }

    .header h1 {
        font-size: 1.25rem; 
    }

    .header p {
        font-size: 0.75rem;
    }
}

.start-screen button{
        margin-top: 20px;
        padding: 50px 150px;
        font-size: 2rem;
        color: white;
        border: none;
        border-radius: 10px;
        cursor: pointer;
        background-image: url('https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/81ccfdb7-ac1d-423f-a276-af63abae5ba2/d5ouid9-b25eaf89-82dc-4e6b-a7c6-c012f6b64e32.png/v1/fit/w_429,h_613,q_70,strp/fire__bw__texture_by_pkmncardmaker264_d5ouid9-375w-2x.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9NjEzIiwicGF0aCI6IlwvZlwvODFjY2ZkYjctYWMxZC00MjNmLWEyNzYtYWY2M2FiYWU1YmEyXC9kNW91aWQ5LWIyNWVhZjg5LTgyZGMtNGU2Yi1hN2M2LWMwMTJmNmI2NGUzMi5wbmciLCJ3aWR0aCI6Ijw9NDI5In1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmltYWdlLm9wZXJhdGlvbnMiXX0.kFVVJiQdq8j406lpWyaymU94x6MHjcVdmSimHwk2Upk');
      
}

.difficulty-selector {
    margin: 20px 0;
    display: flex;
    justify-content: center;
    gap: 50px;
  }
  
  .difficulty-selector label {
    display: block;
    margin: 10px 0;
    font-size: 2rem;
    cursor: pointer;
  }
  
  .difficulty-selector input[type="radio"] {
    cursor: pointer;
    visibility: hidden;
  }

  .color.selected label {
    font-weight: bold;
    text-decoration: underline;
  }
  